---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css'

type Image = {
  url: string;
  alt: string;
}

type Frontmatter = {
  pageTitle: string;
  publishedOn: Date;
  description: string;
  image: Image;
}

export interface Props {
	frontmatter: Frontmatter;
}

const { frontmatter } = Astro.props;

const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};

const publishedOn = new Date(frontmatter.publishedOn).toLocaleDateString(
	"en-GB",
	dateOptions
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content={frontmatter.description} />
		<title>{frontmatter.pageTitle}</title>
	</head>
	<body>
    <Header />
    <main>
      <h1>{frontmatter.pageTitle}</h1>
      <p>Published on: {publishedOn}</p>
      <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
		  <slot />
    </main>
    <Footer />
    <script>
      import '../scripts/menu.js';
    </script>
	</body>
</html>

