---
import Layout from './BaseLayout.astro';

const { title, publishedOn, description, image } = Astro.props.frontmatter;

const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};

const publishedOnFormatted = new Date(publishedOn).toLocaleDateString(
	"en-GB",
	dateOptions
);
---

<Layout title={title} description={description}>
  <p>Published on: {publishedOnFormatted}</p>
  <img src={image.url} width="300" alt={image.alt} />
  <slot />
</Layout>

